.white-space-top {
    height:150px;
}

.memory-card {
    background-size: cover;
    display: inline-block;
    text-align: center;
    border: 3px black solid;
    height: 160px;
    width: 160px;
}

.row-div {
    margin: auto;
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 80%;
}

.settings-headings {
    font-weight: 700;
}

.form-image {
    height: 40px;
    width: auto;
}